:root {
  --border-spacing: 80px; }
  @media only screen and (max-width: 69.5em) {
    :root {
      --border-spacing: 70px;
      /* font-size: 109%; */ } }
  @media only screen and (max-width: 50em) {
    :root {
      --border-spacing: 50px;
      /* font-size: 104%; */ } }
  @media only screen and (max-width: 39.375em) {
    :root {
      --border-spacing: 20px;
      /* font-size: 99%; */ } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  width: 100%;
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* (10 / 16) * 100 = 62.5 -> 1rem = 10px */ }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #070439;
  /* display: grid;
    grid-template-rows: 80px 656px repeat(3, min-content);
    grid-template-columns: [full-start] 1fr [center-start] minmax(min-content, 556px) [in-middle] minmax(min-content, 556px) [center-end] 1fr [full-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: [full-start] 70px [center-start] 1fr [in-middle] 1fr [center-end] 70px [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 80px 400px repeat(3, min-content);
        grid-template-columns: [full-start] 50px [center-start] 1fr [in-middle] 1fr [center-end] 50px [full-end];
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: 65px 293px repeat(3, min-content);
        grid-template-columns: [full-start] 20px [center-start] 1fr [in-middle] 1fr [center-end] 20px [full-end];
    } */ }

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 4.05rem;
  line-height: 1.5; }

@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(-200px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

.header {
  display: grid;
  grid-template-columns: [full-start] var(--border-spacing) [center-start] repeat(2, 1fr) [center-end] var(--border-spacing) [full-end];
  height: 178px;
  align-items: center; }
  .header__logo {
    grid-column: center-start / 3; }
  .header__navigation {
    grid-column: 3 / center-end; }
  .header__links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; }
  .header__link {
    margin-right: 58px; }
    .header__link:last-child {
      margin: 0; }
  .header__anchor {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #070439;
    font-weight: 500; }

.file {
  display: grid;
  grid-template-columns: [full-start] var(--border-spacing) [center-start] repeat(2, 1fr) [center-end] var(--border-spacing) [full-end];
  align-items: center;
  height: 774px;
  padding-bottom: 254px;
  position: relative; }
  .file::after {
    content: '';
    background-image: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 114px;
    position: absolute;
    left: 0;
    bottom: 0; }
  .file__content {
    grid-column: center-start / 3;
    margin-bottom: 43px; }
  .file__description {
    font-size: 1.8rem;
    margin: 15px 0;
    max-width: 580px;
    width: 100%; }
  .file__form {
    display: flex;
    align-items: flex-start;
    margin-top: 25px; }
  .file__group {
    display: flex;
    flex-direction: column;
    margin-right: 15px; }
  .file__input {
    width: 320px;
    height: 45px;
    border-color: #070439;
    border-width: 1px;
    border-radius: 5px;
    padding: 0 20px;
    letter-spacing: 1.1px; }
    .file__input::placeholder {
      color: #bfbfbf; }
  .file__btn {
    width: 200px;
    height: 45px;
    border: 0;
    outline: 0;
    font-family: "Raleway", sans-serif;
    font-size: 1.35rem;
    font-weight: 700;
    background-color: #3065f8;
    color: rgba(246, 246, 254, 0.8);
    box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.5);
    border-radius: 5px; }
  .file__img {
    grid-column: 3 / center-end;
    background-image: url(../images/illustration-1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%; }

.productive {
  background-color: #f6f6fe; }
