// COLOR VARIABLES
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$bright-blue-active: hsl(224, 93%, 66%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-heading: 'Raleway', sans-serif;

// Responsive Breakpoints -> 1em = 16px
$bp-large: 69.5em; // 1112px / 16px = 69.5
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 40.9375em; // 655 px / 16px = 40.9375


:root {
    --border-spacing: 80px;

    @media only screen and (max-width: $bp-large) {
        --border-spacing: 70px;
    }

    @media only screen and (max-width: $bp-medium) {
        --border-spacing: 50px;
    }

    @media only screen and (max-width: $bp-small) {
        --border-spacing: 25px;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /* (10 / 16) * 100 = 62.5 -> 1rem = 10px */
}

body {
    font-family: $font-primary;
    font-size: 1.6rem;
    color: $very-dark-blue;
}

h2 {
    font-family: $font-heading;
    font-size: 4.05rem;
    line-height: 1.5;

    @media only screen and (max-width: $bp-large) {
        font-size: 3.8rem;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 3.5rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 2.4rem;
        font-family: $font-primary;
    }
}