.early {
    display: grid;
    @include gridBase(2);
    align-items: center;
    background-color: $desaturated-blue;
    height: 323px;

    @media only screen and (max-width: $bp-small) {
        height: 375px;
        padding: 45px 0;
    }

    &__content {
        grid-column: center-start / 3;
        color: $white;

        @media only screen and (max-width: $bp-medium) {
            grid-column: center-start / center-end;
            grid-row: 1 / 2;
            text-align: center;
        }
    }

    &__title {
        font-size: 3.2rem;
        margin-top: 8px;
        margin-bottom: 16px;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.6rem;
            letter-spacing: .5px;
        }
    }

    &__description {
        max-width: 545px;
        width: 100%;
        color: $light-grayish-blue;
        line-height: 1.55;
        letter-spacing: .7px;
        font-size: 1.55rem;

        @media only screen and (max-width: $bp-large) {
            font-size: 1.5rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.4rem;
            max-width: 100%;
        }
    }

    &__form {
        grid-column: 3 / center-end;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin: auto 40px auto 120px;

        @media only screen and (max-width: $bp-medium) {
            grid-column: center-start / center-end;
            grid-row: 2 / 3;
            margin: 0 40px;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__input {
        width: 100%;
        height: 48px;
        border-color: transparent;
        border-width: 1px;
        border-radius: 3px;
        padding: 0 20px;
        margin-top: 10px;
        font-size: 1.2rem;

        &--error {
            border: 1px solid $error-color;
        }

        @media only screen and (max-width: $bp-medium) {
            margin-top: 0;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1rem;
            height: 35px;
            margin-bottom: 10px;
            padding: 15px 10px;
        }

        &::placeholder {
            color: $light-gray;
        }

        &:focus {
            outline: none;
        }
    }

    &__error {
        color: $light-grayish-blue;
        margin-top: 5px;
        font-size: 1.3rem;
        display: none;
    }

    &__btn {
        width: 200px;
        height: 48px;
        border: 0;
        outline: 0;
        font-family: $font-heading;
        font-size: 1.35rem;
        font-weight: 700;
        background-color: $bright-blue;
        color: rgba($light-grayish-blue, .8);
        box-shadow: 0px 5px 15px -10px rgba($black, .5);
        border-radius: 5px;
        cursor: pointer;
        margin-top: 15px;

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.1rem;
            height: 35px;
        }

        &:hover {
            background-image: linear-gradient(120deg , rgba($white, .2) 0%, rgba($white, .2) 100%),
                                linear-gradient(120deg, $bright-blue 0%, $bright-blue 100%);
        }
    }
}