.file {
    display: grid;
    @include gridBase(2);
    align-items: center;
    height: 774px;
    padding-bottom: 254px;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        height: 100vh;
    }

    @media only screen and (max-width: $bp-small) {
        height: auto;
    }

    &::after {
        content: '';
        background-image: url(../images/bg-curve-desktop.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 114px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-position: center;
        background-size: cover;
    }

    &__content {
        grid-column: center-start / 3;
        margin-bottom: 43px;

        @media only screen and (max-width: $bp-medium) {
            grid-column: center-start / center-end;
            grid-row: 2 / 3;
            text-align: center;
        }
    }

    &__description {
        font-size: 1.8rem;
        margin: 15px 0;
        max-width: 580px;
        width: 100%;

        @media only screen and (max-width: $bp-large) {
            font-size: 1.5rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.4rem;
            max-width: 100%;
        }
    }

    &__form {
        display: flex;
        align-items: flex-start;
        margin-top: 25px;

        @media only screen and (max-width: $bp-large) {
            flex-wrap: wrap;
        }

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        margin-right: 15px;

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            width: 100%;
        }
    }

    &__input {
        width: 320px;
        height: 45px;
        border-color: $very-dark-blue;
        border-width: 1px;
        border-radius: 5px;
        padding: 0 20px;
        letter-spacing: 1.1px;

        @media only screen and (max-width: $bp-large) {
            margin-bottom: 15px;
        }

        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }

        &::placeholder {
            color: $light-gray;
        }

        &:focus {
            outline: none;
        }
    }

    &__btn {
        width: 200px;
        height: 45px;
        border: 0;
        outline: 0;
        font-family: $font-heading;
        font-size: 1.35rem;
        font-weight: 700;
        background-color: $bright-blue;
        color: rgba($light-grayish-blue, .8);
        box-shadow: 0px 5px 15px -10px rgba($black, .5);
        border-radius: 5px;
        cursor: pointer;

        @media only screen and (max-width: $bp-small) {
            width: 100%;
            margin: auto;
        }

        &:hover {
            background-image: linear-gradient(120deg , rgba($white, .2) 0%, rgba($white, .2) 100%),
                                linear-gradient(120deg, $bright-blue 0%, $bright-blue 100%);
        }
    }

    &__img {
        grid-column: 3 / center-end;
        background-image: url(../images/illustration-1.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;

        @media only screen and (max-width: $bp-medium) {
            grid-column: center-start / center-end;
            grid-row: 1 / 2;
            height: 400px;
        }

        @media only screen and (max-width: $bp-small) {
            height: 350px;
        }
    }
}