.header {
    display: grid;
    @include gridBase(2);
    height: 178px;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        height: 95px;
    }

    @media only screen and (max-width: $bp-small) {
        height: 75px;
    }

    &__logo {
        grid-column: center-start / 3;

        @media only screen and (max-width: $bp-medium) {
            width: 105px;
        }

        @media only screen and (max-width: $bp-small) {
            width: 85px;
        }
    }

    &__navigation {
        grid-column: 3 / center-end;
    }

    &__links {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    &__link {
        margin-right: 58px;

        @media only screen and (max-width: $bp-small) {
            margin-right: 15px;
        }

        &:last-child {
            margin: 0;
        }
    }

    &__anchor {
        font-family: $font-heading;
        text-decoration: none;
        color: $very-dark-blue;
        font-weight: 500;

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.4rem;
        }
    
        @media only screen and (max-width: $bp-small) {
            font-size: 1.2rem;
        }
    }
}